@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Tanha ;
    src: url('./asset/font/tanha-Fontchi.com/Tanha.eot');
    src: url('./asset/font/tanha-Fontchi.com/Tanha.woff') format('woff');
    src: url('./asset/font/tanha-Fontchi.com/Tanha.ttf') format('truetype');
    font-weight: normal;
}

body{
    direction: rtl;
    font-family: Tanha;
}